html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* général */
@font-face {
  font-family: "sligoil";
  src: url(fonts/Sligoil-Micro.woff) format("woff"),      
  url(/assets/fonts/Sligoil-Micro.woff2) format("woff2"),
  url(fonts/Sligoil-Micro.otf) format("opentype");

}
:root{
  --mainBlue :#0000CC;
  --mainOrange:#F28B16;
  --mainWhite : #FEFDF0;
  --mainWhiteOpacity : #FEFDF080;
  --smallBlueBorder: 1px solid var(--mainBlue);
  --smallWhiteBorder: 1px solid var(--mainWhite);
  --normalBorder: 3px solid var(--mainBlue);
}
html{
  font-family: "sligoil";
  font-size: 1rem;
  color:var(--mainBlue);
  max-width: 99vw;
  background-color:var(--mainWhite) ;
  scroll-behavior: smooth;
  min-height: 78vh;
}
.orange{
  color: var(--mainOrange);
}
body{
  overflow-x: hidden;
  padding-top: 100px;
  position: relative;
  min-height: 78vh;
}

/* header */
/*  */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--normalBorder);
  width:100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--mainWhite);
  transition: height 0.2s;
}
nav{
  display: flex;
}


/* reset mise en forme lien */
header a{ 
  color: var(--mainBlue);
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  transition: font-size 0.3s;
}
/* mise en forme nav */
.orangeSlash{
  color: var(--mainOrange);
  font-style: normal;
}
nav a, #title a{
  padding: 15px 50px;
  display: block;
  position: relative;
  transition: color 0.3s;
}
.link:first-child{
  border-right: var(--normalBorder);
}
#title{
  border-right: var(--normalBorder);
}
.navSize{
  background-color: var(--mainWhiteOpacity);
  height: 60px;
  overflow: hidden;
  font-size: 1.5rem;
}
header.navSize a{
  font-size: 1.8rem;
}
header a::after{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:var(--mainBlue);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
header a:hover::after{
  transform: scaleX(1);
}
header a:hover{
  color: white;
}


/* presentationSection */
/*  */
#presentationSection{
  max-width: 99vw;
}
.boxPresentation{
  display: flex;
  flex-flow: column;
}
.texte{
  line-height:1.75;
}
/* début de page */
#firstBox{
  display: flex;
  height: 60vh;
}
/* gestion des images */
.img{
  transform: rotate(90deg);
  width: 15vw;
}
#imgBox{
  position: relative;
  width: 100vw;
}
.img:nth-child(1){
  position: absolute;
  left: 15%;
  top:0;
}
.img:nth-child(2){
  position: absolute;
  left: 35%;
  top:10vh;
}
.img:nth-child(3){
  position: absolute;
  left: 55%;
  top:15vh;
}
#texte1Box{
  min-width: 40vw;
  display: flex;
  justify-content: center;
}
#texte1{
  text-align: right;
  max-width: 20vw;
  position: relative;
  margin-top: 10%;
}
#texte1::after{
  display: block;
  content: "";
  height: 20vh;
  width: 15vw;
  border-right:var(--smallBlueBorder);
  border-bottom: var(--smallBlueBorder);
  position: absolute;
}

/* gestion des savoir faire */
#boxSavoirFaire{
  margin: 100px 0;
  z-index: 2;
}

/* gestion texte 2 */
#texte2Box{
  display: flex;
  justify-content: center;
  min-height: 20vh;
  margin-top: 10vh;
}
#texte2{
  text-align: left;
  max-width: 25vw;
  padding-left: 20%;
  position: relative;
}
#texte2::before{
  display: block;
  content: "";
  position: absolute;
  height: 50vh;
  width: 25vw;
  right: 26vw;
  top: -45vh;
  border-bottom: var(--smallBlueBorder);
  border-left: var(--smallBlueBorder);
  z-index: -1;
}

/* ligne savoir faire */
.boxSavoirFaire{
  max-width: 99vw;
  overflow: hidden;
}

.savoirFaire{
  inline-size: max-content;
  font-size: 4rem;
  transition: transform 1s;
}
/* #savoirFaire1{
  transform: translateX(-100vw);
} */
/* #savoirFaire2{
  transform: translateX(30vw);
} */
#savoirFaire1:hover{
  transform: translateX(10vw);
}
#savoirFaire2:hover{
  transform: translateX(-60vw);
}




/* texte partie fond bleu */
.boxPresentation:nth-child(2){
  background-color: var(--mainBlue);
  color: white;
}
#blueBg{
  height: 120vh;
}
#whiteBg{
  height: 5vh;
  width: 100%;
  background-color: var(--mainWhite);
  position: relative;
}
#whiteBorder{
  display: block;
  content: "";
  height: 120vh;
  position: absolute;
  left: 5%;
  border-right: var(--smallWhiteBorder);
}
#whiteBorder::after{
  display: block;
  content: "";
  height: 10vh;
  position: absolute;
  bottom: -10vh;
  border-right: var(--smallBlueBorder);
}
/* 3eme texte avec / custom */
#texte3Box{
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
#texte3::before{
  content: "//";
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.9;
  color: var(--mainOrange);
  position: absolute;
  left: -20%;
}
#texte3{
  max-width: 30vw;
  position: relative;
}
#borderBox{
  display: block;
  content: "";
  height: 20vh;
  width: 15vw;
  position: absolute;
  left: 31vw;
  top:-10vh;
  border-bottom: var(--smallWhiteBorder);
  border-right: var(--smallWhiteBorder);
}
#borderBox::after{
  display: block;
  content: "";
  height: 10vh;
  position: absolute;
  right: -1px;
  top: -10vh;
  border-right: var(--smallBlueBorder);
}



/* box présentation2 */
#boxPresentation2{
  display: flex;
  justify-content: space-evenly;
  margin: 150px 0;
}
#boxPhoto{
  display: flex;
  flex-flow: column;
}
#rang{
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 7vh;
}
#rang .texte{
  text-align: right;
}
#photoPortrait{
  max-width: 13vw;
}
#boxTextePresentation{
  width: 30vw;
  min-width: 25vw;
  margin-top: 7vh;
}


/* général section */
/*  */
.section{
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 100px 0;
}
.titre2{
  font-size: 2rem;
  width: 60vw;
  display: flex;
}
.titre2 h2{
  padding-right: 4px;
}
.titre2 div{
  flex-grow: 1;
  border-bottom: var(--normalBorder);
  position: relative;
  bottom: 15px;
}



/* section références */
/*  */



/* section contact */
/*  */

/* form */
textarea{
  resize: none;
}
/* boxMap */
#boxMap{
  display: flex;
  max-width: 90vw;
  margin-top: 100px;
}
#texteMap p{
  text-align: right;
  margin: 20px 4px;
  max-width: 150px;
}
iframe{
  width: 70vw;
  height: 400px;
}







/* page référence */
/*  */
/*  */
/* barre recherche */
#blocRecherche{
  margin: auto;
  display: flex;
  inline-size: fit-content;
  font-size: 1.5rem;
}
#recherche{
  border: 0;
  border-bottom: var(--normalBorder);
  min-width: 150px;
  width: 30vw;
  margin-left: 15px;
  font-family:sligoil ;
  color: var(--mainBlue);
  font-size: 1.5rem;
  outline: none;
}
#recherche:hover, #recherche:focus{
  border-bottom: 3px solid var(--mainOrange);
  color: orange;
}
#blocRecherche.orange, #blocRecherche.orange{
  color: var(--mainOrange);
}


/* box reference */
#refSection{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 50px 20px;
  margin: 50px 100px;
}
.boxRefSmall{
  min-width: 300px;
  max-width: 24vw;
  position: relative;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  border: 3px solid  white;
}
.nomRef{
  z-index: 2;
  position: absolute;
  top: 0;
  padding: 50px 10px;
  transition: opacity 0.4s 0.3s ease-out;
}
.imgRef{
  width: 100%;
}
.plus{
  z-index: 2;
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity:0;
  transition: opacity 0.4s;
}
.boxRefSmall:hover .plus{
  opacity: 1;
  transition: opacity 0.4s 0.2s ease-out;
}
.boxRefSmall:hover .nomRef{
  opacity: 0;
  transition: opacity 0.4s;
}
.boxRefSmall:hover{
  cursor: pointer;
}
.filter{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--mainBlue);
  opacity: 60%;
  visibility: hidden;
  transition: visibility 0.3s;
}
.boxRefSmall:hover .filter{
  visibility: visible;
}
.boxRefSmall:focus{
  border: 3px solid var(--mainOrange);
  outline: none;
}
.boxRefSmall::before{
  display: block;
  content: "";
  position: absolute;
  height: 3px;
  width: 110%;
  left: -5%;
  top: 50%;
  background-color: var(--mainBlue);
  visibility: hidden;
}
.boxRefSmall:focus::before{
  visibility: visible;
}
.test{
  position: relative;
}

/* footer */
/*  */
footer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: var(--normalBorder);
  width: 99vw;
  position: absolute;
  bottom: -100px;
}
footer a{
  text-decoration: none;
  color: var(--mainBlue);
}
footer a:hover{
  color: var(--mainOrange);
}