html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* général */
@font-face {
  font-family: "sligoil";
  src: url(fonts/Sligoil-Micro.woff) format("woff"),      
  url(/assets/fonts/Sligoil-Micro.woff2) format("woff2"),
  url(fonts/Sligoil-Micro.otf) format("opentype");

}
:root{
  --mainBlue :#0000CC;
  --mainOrange:#F28B16;
  --mainWhite : #FEFDF0;
  --smallBlueBorder: 1px solid var(--mainBlue);
  --smallWhiteBorder: 1px solid var(--mainWhite);
  --normalBorder: 2px solid var(--mainBlue);
}
html{
  font-family: "sligoil";
  font-size: 1rem;
  color:var(--mainBlue);
  max-width: 99vw;
  background-color:var(--mainWhite) ;
}
.orange{
  color: var(--mainOrange);
}


/* header */
/*  */
header{
  display: flex;
  justify-content: space-between;
  border-bottom: var(--normalBorder);
}
nav{
  display: flex;
}
/* reset mise en forme lien */
header a{ 
  color: var(--mainBlue);
  text-decoration: none;
  font-weight: 400;
}
/* parenthèse titre */
.orangeSlash{
  color: var(--mainOrange);
  font-style: normal;
}
nav a, #title a{
  font-size: 2rem;
  padding: 15px 50px;
  display: block;
}
.link:first-child{
  border-right: var(--smallBlueBorder);
}
.link:last-child{
  border-left: var(--smallBlueBorder);
}
#title{
  border-right: var(--normalBorder);
}


/* presentationSection */
/*  */
#presentationSection{
  max-width: 99vw;
}
.boxPresentation{
  display: flex;
  flex-flow: column;
}
.texte{
  line-height:1.75;
}
/* début de page */
#firstBox{
  display: flex;
  height: 60vh;
}
/* gestion des images */
.img{
  transform: rotate(90deg);
  width: 15vw;
}
#imgBox{
  position: relative;
  width: 100vw;
}
.img:nth-child(1){
  position: absolute;
  left: 15%;
  top:0;
}
.img:nth-child(2){
  position: absolute;
  left: 35%;
  top:10vh;
}
.img:nth-child(3){
  position: absolute;
  left: 55%;
  top:15vh;
}
#texte1Box{
  min-width: 40vw;
  display: flex;
  justify-content: center;
}
#texte1{
  text-align: right;
  max-width: 20vw;
  position: relative;
  margin-top: 10%;
}
#texte1::after{
  display: block;
  content: "";
  height: 20vh;
  width: 15vw;
  border-right:var(--smallBlueBorder);
  border-bottom: var(--smallBlueBorder);
  position: absolute;
}

/* gestion des savoir faire */
#boxSavoirFaire{
  margin: 100px 0;
}

/* gestion texte 2 */
#texte2Box{
  display: flex;
  justify-content: center;
  min-height: 20vh;
  margin-top: 10vh;
}
#texte2{
  text-align: left;
  max-width: 25vw;
  padding-left: 20%;
  position: relative;
}
#texte2::before{
  display: block;
  content: "";
  position: absolute;
  height: 50vh;
  width: 25vw;
  right: 26vw;
  top: -45vh;
  border-bottom: var(--smallBlueBorder);
  border-left: var(--smallBlueBorder);
  z-index: -1;
}

/* ligne savoir faire */
.boxSavoirFaire{
  max-width: 99vw;
  overflow: hidden;
}

.savoirFaire{
  inline-size: max-content;
  font-size: 4rem;
  transition: transform 1s;
}
#savoirFaire1{
  transform: translateX(-100vw);
}
#savoirFaire2{
  transform: translateX(30vw);
}
#savoirFaire1:hover{
  transform: translateX(10vw);
}
#savoirFaire2:hover{
  transform: translateX(-60vw);
}


/* tout les traits */


/* texte partie fond bleu */
.boxPresentation:nth-child(2){
  background-color: var(--mainBlue);
  color: white;
}
#blueBg{
  height: 120vh;
}
#whiteBg{
  height: 5vh;
  width: 100%;
  background-color: var(--mainWhite);
  position: relative;
}
#whiteBorder{
  display: block;
  content: "";
  height: 120vh;
  position: absolute;
  left: 5%;
  border-right: var(--smallWhiteBorder);
}
#whiteBorder::after{
  display: block;
  content: "";
  height: 10vh;
  position: absolute;
  bottom: -10vh;
  border-right: var(--smallBlueBorder);
}
/* 3eme texte avec / custom */
#texte3Box{
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
#texte3::before{
  content: "//";
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.9;
  color: var(--mainOrange);
  position: absolute;
  left: -20%;
}
#texte3{
  max-width: 30vw;
  position: relative;
}
#borderBox{
  display: block;
  content: "";
  height: 20vh;
  width: 15vw;
  position: absolute;
  left: 31vw;
  top:-10vh;
  border-bottom: var(--smallWhiteBorder);
  border-right: var(--smallWhiteBorder);
}
#borderBox::after{
  display: block;
  content: "";
  height: 10vh;
  position: absolute;
  right: -1px;
  top: -10vh;
  border-right: var(--smallBlueBorder);
}



/* box présentation2 */
#boxPresentation2{
  display: flex;
  justify-content: space-evenly;
  margin: 150px 0;
}
#boxPhoto{
  display: flex;
  flex-flow: column;
}
#rang{
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 7vh;
}
#rang .texte{
  text-align: right;
}
#photoPortrait{
  max-width: 13vw;
}
#boxTextePresentation{
  width: 30vw;
  min-width: 25vw;
  margin-top: 7vh;
}


/* général section */
/*  */
.section{
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 100px 0;
}
.titre2{
  font-size: 2rem;
  width: 60vw;
  display: flex;
}
.titre2 h2{
  padding-right: 4px;
}
.titre2 div{
  width: 100%;
  border-bottom: 4px solid var(--mainBlue);
  position: relative;
  bottom: 15px;
}



/* section références */
/*  */



/* section contact */
/*  */

/* form */
textarea{
  resize: none;
}